# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*.json]
indent_style = space
indent_size = 4

[*.cs]
indent_style = space
indent_size = 4

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# AV1008: Class should not be static
dotnet_diagnostic.AV1008.severity = error

# AV1755: Name of async method should end with Async or TaskAsync
dotnet_diagnostic.AV1755.severity = none

# SA0001: XML comment analysis is disabled due to project configuration
dotnet_diagnostic.SA0001.severity = none

# AV2210: Build with -warnaserror.
dotnet_diagnostic.AV2210.severity = none

# IDE0003: Remove qualification
dotnet_diagnostic.IDE0003.severity = none

# VSTHRD200: Use "Async" suffix for async methods
dotnet_diagnostic.VSTHRD200.severity = none
